body{
  background: url("b.jpg") no-repeat center center fixed;
  background-size: cover;
  font-style:italic;
}
ul{
  list-style-type: square;
}
h2 {
  color: dodgerblue;
}
h1{
  font-size: 40px;
  text-align: center;
  color: #0020C2;
  font-weight: 900;
}
h1.Instagram{
  font-size: 50px;
  color: indigo;
  text-align: left;
}
h1.Snapchat{
  color: indigo;
  text-align: left;
}
h1.Facebook{
  color: indigo;
  text-align: left;
}
h1.Twitter{
  color: indigo;
  text-align: left;
}

h3{
  color: indigo;
}
p.Text{
  width: 70%;
  font-size: 20px;
}
