body{
  background: url("b.jpg") no-repeat center center fixed;
  background-size: cover;
  font-style:sherif;
}
ul{
  list-style-type: none;
}
h2 {
  color: indigo;
}
h1{
  font-size: 60px;
  text-align: center;
  color: indigo;
  font-weight: 800;
}
h1.Instagram{
  font-size: 50px;
  color: indigo;
  text-align: left;
}
h1.Whatsapp{
  font-size: 50px;
  color: indigo;
  text-align: left;
}
h1.Snapchat{
  color: indigo;
  text-align: left;
}
h1.Facebook{
  color: indigo;
  text-align: left;
}
h1.Twitter{
  color: indigo;
  text-align: left;
}
h1.ProsAndContras{
  color: indigo;
  text-align: left;
}
h3{
  color: indigo;
}
h4{
  color: darkcyan;
}
p.Text{
  width: 80%;
  font-size: 20px;
}
p.Text2{
  width: 70%;
  font-size: 15px;
}
section.Body{
  text-align: center;
  font-size: 20px;
}
h1.Features{
  color: indigo;
  text-align: left;
}
h1.History{
  color: indigo;
  text-align: left;
}
table, th, td {
    border: 1px solid black;
}
ul.Points{
  list-style-type: square;
}
