body{
  background-image: url(b.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family:sans-serif;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: #333;
}

p.grey{
  color: grey;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: indigo;
}

.active {
  background-color: indigo;
}
h1.header{
  color: indigo;
  font-size: 40px;
  animation:color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes color{
  0%   {color:indigo;}
 25%  {color:darkblue;}
 50%  {color:dodgerblue;}
 75%  {color:darkblue;}
 100% {color:indigo;}
}

article.TextForHome{
  text-align: center;
  font-size: 20px;
  margin-top: 300px
}
article.body{
  text-align: center;
  margin-top: 200px
}
p.Text{
  width: 80%;
  font-size: 20px;
  margin-left: 20px;
  font-style:sherif;
}
p.text2{
  margin-left: 20px;
}
h2.SecHeader{
  color: darkblue;
}
h3.margin{
  margin-left: 20px;
}
a.links{
  margin: 30px;
}
li.Text{
    margin-left: 20px;
}
